laba 12/XML-Schema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<?xml-stylesheet type="text/css" href="styleXML.css">
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
<xs:element name="note">
<xs:complexType>
<xs:sequence>
    <xs:element name="top" type="xs:string"/>
    <xs:element name="middleTop" type="xs:string"/>
    <xs:element name="middleBottom" type="xs:string"/>
    <xs:element name="bottom" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>